body{
    font-family:arial, sans-serif;
}

.keyboard{    
    width:20vw;
}

.ib{
    display:inline-block;
}

.control-section{
    background:#eee;
    border:1px solid #333;
    border-radius:4px;
}

.control-section > div{
    padding:0.5vw;
}

.control-section h4{
    background:#444;
    color:#fff;
    border-radius:inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding:0.5vw;
    margin:0;
    margin-bottom:8px;
    text-align:center;
}

.voice-level-meter{
    width:4vw;
    height:8vw;
    background:#ccc;
    display:inline-block;
    position: relative;
}
.voice-level-meter > div{
    background:red;
    width:100%;
    position:absolute;
    bottom:0;
}

.voice-filter-meter{
    width:4vw;
    height:8vw;
    background:#ccc;
    display:inline-block;
    position: relative;
}
.voice-filter-meter > div{
    background:#0066ff;
    width:100%;
    position:absolute;
    bottom:0;
}

.meter-container{
    border-radius:1vw;
    padding:1vw;
    border:1px solid #ccc;
    display:inline-block;
}